{% extends "base.html" %}
{% block title %}Pounds to Kilograms{% endblock %}
{% block content %}
<body>
    <div class="container mY-4">
        <div class="row">
            <!-- Main Content Section -->            
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white" style="margin-left: -0.8rem; margin-right: -0.8rem;">
                    <h4 class="text-center mb-0">Pounds to Kilograms (lbs to kg) Converter</h4>
                </div>
                <div class="card-body">
                    <!-- Conversion Form -->
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pounds" class="form-label">Pounds:</label>
                                <input type="number" class="form-control" id="pounds" placeholder="Enter lbs">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="kilograms" class="form-label">Kilograms:</label>
                                <input type="number" class="form-control" id="kilograms" placeholder="Enter kg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <script>
        const kilogramsInput = document.getElementById("kilograms");
		const poundsInput = document.getElementById("pounds");

		function updateFromKilograms() {
			const kilograms = parseFloat(kilogramsInput.value);
			if (!isNaN(kilograms)) {
				poundsInput.value = (kilograms * 2.20462).toFixed(6);
			}
		}

		function updateFromPounds() {
			const pounds = parseFloat(poundsInput.value);
			if (!isNaN(pounds)) {
				kilogramsInput.value = (pounds / 2.20462).toFixed(6);
			}
		}

		kilogramsInput.addEventListener("input", updateFromKilograms);
		poundsInput.addEventListener("input", updateFromPounds);
    </script>
</body>
{% endblock %}